<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
<title>GXT CheckBox ListView</title>
<link rel="stylesheet" type="text/css" href="../../gxt/css/gxt-all.css" />
<link rel="stylesheet" type="text/css" href="../../samples/css/resources.css" />
<link rel="stylesheet" type="text/css" href="listview.css" />
</head>
<body id="checkboxlistview" style="overflow: hidden">
<script language='javascript'  src='../../com.extjs.gxt.samples.Examples/com.extjs.gxt.samples.Examples.nocache.js'></script>
</body>
</html>